<form method="POST" enctype="multipart/form-data" action="localhost:3000/news/create">
Новость
    <input type="number" name="id"/><br>
Заголовок
      <input type="text" name="title"/><br>
Автор
      <input type="text" name="author"/><br>
Текст
      <input type="text" name="text"/><br>
      <input type="file" name="file"/><br>
      <input type="submit" value="Отправить">
    </form>